.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination button {
    color: #D4D4D4;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.96px;
    cursor: pointer;
}

.pagination button.active {
    border: 1px solid var(--dark-gray);
    border-radius: 50%;
    color: var(--dark-gray);
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
